<h1>Entrega 2 - Vizgarra Brian Marco</h1>
<button id="catalogo_btn">Ver catálogo de productos</button>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js" type="text/javascript"></script>
<script src="/src/js/index.js"></script>